[submodule "_vim/bundle/git"]
	path = _vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "_vim/bundle/pyflakes"]
	path = _vim/bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "_vim/bundle/gundo"]
	path = _vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "_vim/bundle/pydoc"]
	path = _vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "_vim/bundle/pep8"]
	path = _vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "_vim/bundle/acp"]
	path = _vim/bundle/acp
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "_vim/bundle/solarized"]
	path = _vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/markdown"]
	path = _vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "_vim/bundle/snipmate"]
	path = _vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "_vim/bundle/vim-addon-mw-utils"]
	path = _vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "_vim/bundle/tlib"]
	path = _vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "_vim/bundle/snippets"]
	path = _vim/bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "_vim/bundle/ctrlp"]
	path = _vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/puppet-vim"]
	path = _vim/bundle/puppet-vim
	url = https://github.com/ajf/puppet-vim.git
[submodule "_vim/bundle/vim-easymotion"]
	path = _vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "_vim/bundle/vim-powerline"]
	path = _vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "_vim/bundle/vim-golang"]
	path = _vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/tagbar"]
	path = _vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "_vim/bundle/salt-vim"]
	path = _vim/bundle/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/ack-vim"]
	path = _vim/bundle/ack-vim
	url = https://github.com/mileszs/ack.vim.git
